.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
  }
  
  .keycapImage {
    border-radius: 15px;
  }
  
  .keycapDetails {
    font-size: 1.5rem;
  }
  
  .firstItem {
    margin-top: 0;
  }