.navbar {
font-size: 30px;
justify-content: space-between;
font-style: italic;
position: fixed;
width: 100%;
z-index: 2;
}

.bran-icon{
    list-style: none;
    padding-top: 20px;
 }
 
.bran-icon li{
    display:inline;
    text-align: center;
    vertical-align: 10px;
 }