.navbar {
    font-size: 30px;
    font-style: italic;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar .container{
    width: 100% !important;
    margin: 0px !important;
}

.bran-icon{
    list-style: none;
    padding-top: 20px;
 }

.log{
    display: flex;
    position: absolute;
    right: 30px;
}
  
 
.bran-icon li{
    display:inline;
    text-align: center;
    vertical-align: 10px;
 }

 .navbar-toggler{
     margin-right: 60px;
 }